// color
$blue: #81b3d2;
$blue_hover: #669ec0;
$blue_active: #5496bd;
$brown: #766357;
$brown_hover: #604e43;
$brown_active: #503e33;
$background-body: #f2f2f2;
$grey: #e5e5e5;
$grey_no_active: #bdbdbd;

// viewports
$mobile-width: 767px;
$descktop-width: 1200px;