.search-hotels__result {
  background-color: #fff;
}

.result__sort-wrap {
  display: flex;
  padding: 0 6%;
}

.result__item-up-down {
  margin-left: auto;
}

.hotels__img {
  width: 135px;
  height: 90px;
}